---
layout: default
---

<ul>
{% for publication in site.publications %}
<li> <a href="{{publication.website}}">{{ publication.title }}</a></li>
{% endfor %}
</ul>
    
<ul>
{% for thesis in site.theses %}
<li> <a href="{{thesis.website}}">{{ thesis.title }}</a></li>
{% endfor %}
</ul>

<ul>
{% for preprint in site.preprints %}
<li> <a href="{{preprint.website}}">{{ preprint.title }}</a></li>
{% endfor %}
</ul>